language: node_js
node_js:
  - '6'
sudo: false
script:
  - 'npm test'
after_success:
  - 'npm install coveralls && ./node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls'
  