html,body {
  margin: 0;
  padding: 0;
  background: #201e1e;
  height: 100%;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  text-align: center;
}

#stage {
  display: inline-block;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background: #eee;
}