*{      
  -webkit-touch-callout: auto; /* prevent callout to copy image, etc when tap to hold */      
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */      
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */       
  -webkit-user-select:none;
}  
html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 500px;
  color: white;
}
#paper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  height: 0px;
}