section.cover.show {
  opacity: 0;
  overflow: hidden;
}

.sprite-container {
  width: 100%;
  padding-bottom: 39%;
}

.sprite-container canvas {
  border: solid 2px #333;
}

nav a {
  margin: 0 10px;
}

h1 span.baseclass {
  font-style: italic;
  font-size: 1.2rem;
  color: #e96900;
}

#attributes span,
#properties span,
#methods span{
  color: #42b983;
}

span.access {
  font-style: italic;
  font-weight: normal;
  color: rgb(118, 6, 133);
  margin-right: 8px;
}

span.extends,
span.inheritance {
  font-style: italic;
  font-weight: normal;
  color: #aaa;
}
span.inheritance {
  font-size: 1.2rem;
}
span.readonly {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  color: #a00; 
  margin-left: -4px; 
}
span.or {
  color: #aaa;
  font-size: 0.8rem;
  margin: 0 4px;
}
span.async {
  color: #a00; 
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0 4px;
}

#api-doc table td:nth-child(3) {
  white-space: nowrap;
}

#api-doc table td.private,
#api-doc table td.public {
  color: #a00;
  font-weight: bold;
  text-decoration: none;
}

#api-doc table td.private {
  font-style: italic;
}

@media only screen and (max-width: 479px) {
  .app-nav {
    left: 10px;
    right: auto;
    white-space: nowrap;
  }
  .app-nav a:nth-child(4),
  .app-nav a:nth-child(5) {
    display: none;
  }
}  
