#page-layer #adaptive {
  width: 50%;
  padding-bottom: 50%;
}
#page-layer #adaptivesvg {
  width: 80%;
  height: 120px;
  margin: auto;
  padding: 0;
}
#page-layer #adaptivesvg canvas {
  background-color: #ddd;
}

#page-resolution #adaptive {
  width: 350px;
  height: 350px;
}

#page-resolution #resize {
  width: 50%;
  padding-bottom: 50%;
}

#page-resolution #sticky {
  display: flex;
}

#page-resolution #stickMode {
  width: 50%;
  padding-bottom: 50%;
  border: solid 2px #336;
  overflow: hidden;
}

#page-resolution #stickMode canvas {
  background: black;
  border: none;
}

#page-resolution #control {
  width: 50%;
  text-align: right;
  float: right;
}

#box-rect-demo {
  display: flex;
}

#page-boxmodel #box-rect,
#page-boxmodel #box-setting {
  width: 50%;
}

#page-boxmodel #box-setting {
  padding-left: 20px;
}

#page-resource #texturepacker {
  background: black;
}

#page-animations #timeline-ctrl {
  margin-bottom: 10px;
}

#page-events #zwwctrl {
  margin-top: 6px;
  text-align: center;
}

#page-events #zwwctrl > button{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  outline: none;
  margin: 0 20px;
  color: white;
  cursor: pointer;
}

#page-events #zwwctrl > button#leftBtn {
  background: #339;
}

#page-events #zwwctrl > button#downBtn {
  background: #933;
}

#page-events #zwwctrl > button#rightBtn {
  background: #396;
}

#page-d3 #d3-hierarchy {
  padding-bottom: 78%;
}

#page-d3 #d3-hierarchy canvas {
  border: none;
}

#page-snapshot #snapshot-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

#page-snapshot #snapshot-list li {
  border: solid 1px #336;
}

.demos {
  text-align: center;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 90%;
  margin: auto;
}
.demos li {
  width: 30%;
  list-style-type:none;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.20);
  border-radius: 2%;
  overflow: hidden;
  transition: .5s ease-in-out;
}
.demos li:hover {
  transform: translateY(-8px);
  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.20);
}
.demos li span {
  display: inline-block;
  padding: 10px 0;
}
.demos li a {
  color: #34495e;
}
